[submodule "nnx"]
	path = nnx
	url = https://github.com/thekaveh/NNx.git
[submodule "vendor/genai-vanilla"]
	path = vendor/genai-vanilla
	url = https://github.com/thekaveh/genai-vanilla.git
	branch = ml-integration
